= form_for @creator, :html => {:multipart => true} do |f|
  = f.error_messages
  = field_set_tag  t('shoppe.creators.creator_information') do
    .splitContainer
      %dl.half
        %dt= f.label :name, t('shoppe.creators.name')
        %dd= f.text_field :name, :class => 'text focus'
      %dl.half
        %dt= f.label :permalink, t('shoppe.creators.permalink')
        %dd= f.text_field :permalink, :class => 'text'
    .splitContainer
      %dl.half
        %dt= f.label :email, t('shoppe.creators.email')
        %dd= f.text_field :email, :class => 'text'
      %dl.half
        %dt= f.label :website, t('shoppe.creators.website')
        %dd= f.text_field :website, :class => 'text'
    %dl
      %dt= f.label :description, t('shoppe.creators.description')
      %dd= f.text_area :description, :class => 'text'
    %dl
      %dt= f.label :short_description, t('shoppe.creators.short_description')
      %dd= f.text_area :short_description, :class => 'text'
  = field_set_tag t('shoppe.creators.attachments') do
    .splitContainer
      %dl.half
        %dt= f.label "attachments[avatar][file]", t('shoppe.creators.avatar')
        %dd
          = attachment_preview @creator.avatar
          %p= f.file_field "attachments[avatar][file]"
          = f.hidden_field "attachments[avatar][role]", value: "avatar"
          = f.hidden_field "attachments[avatar][parent_id]", value: @creator.id
    .splitContainer.extraAttachments
      %dl.half
        %dd
          = attachment_preview nil, hide_if_blank: false
          %p= f.file_field "attachments[extra][file]", :multiple => true
          = f.hidden_field "attachments[extra][parent_type]", value: "Shoppe::Creator"
          = f.hidden_field "attachments[extra][parent_id]", value: @creator.id

      - @creator.attachments.each do |attachment|
        - unless ["avatar"].include?(attachment.role)
          %dl.half
            %dd
              = attachment_preview attachment

    %p.addAttachments= link_to t('shoppe.creators.add_attachments') , '#', :data => {:behavior => 'addAttachmentToExtraAttachments'}, :class => 'button button-mini green'

  %p.submit
    - unless @creator.new_record?
      %span.right= link_to t('shoppe.delete') , @creator, :class => 'button purple', :method => :delete, :data => {:confirm => "Are you sure you wish to remove this creator?"}
    = f.submit t('shoppe.submit'),  :class => 'button green'
    = link_to t('shoppe.cancel'), :creators, :class => 'button'
